

  .carta{
    margin: 50px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all .2s;
    box-shadow: none;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contenedorBoton{
    justify-content: flex-end;
    margin-left: 10px;
  }
  
  .boton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    gap: 5px;
    border: 3px solid #FF0072;
    color: #FF0072;
    text-decoration: none;
  }
   
   .boton:hover  {
    transform: translateY(-2px);
   }
   
  .color{
  position: absolute;
  background-color: rgb(194, 63, 194);
  width: 160px;
  height: 160px;
  border-radius: 100%; 
  backdrop-filter: blur(10px);
  filter: blur(1.3px);
  
  }

  

  @media (max-width: 1920px) {
    .carta {
      display: flex;
    }
    .IMG{
      height: 300px;
      width: 300px;
    }
    .detallesCard{
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: center;
    }
    .titulo{
      font-size: 40px;
    }
    .parrafo{
      font-size: 25px;
      margin-right: 20px;
    }
    .boton{
      height: 60px;
      width: 270px;
      font-size: 25px;
    }
  }


 
  @media (max-width: 1600px) {
    .carta {
      display: flex;
    }
    .IMG{
      height: 250px;
      width: 250px;
    }
    .detallesCard{
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: center;
    }
    .titulo{
      font-size: 30px;
    }
    .parrafo{
      font-size: 20px;
      margin-right: 20px;
    }
    .boton{
      height: 40px;
      width: 240px;
      font-size: 23px;
    }
  }









    
  @media (max-width: 1440px) {
    .carta {
      display: flex;
    }
    .IMG{
      height: 250px;
      width: 250px;
    }
    .detallesCard{
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: center;
    }
    .titulo{
      font-size: 33px;
    }
    .parrafo{
      font-size: 19px;
      margin: 0;
    }
    .boton{
      height: 40px;
      width: 220px;
      font-size: 20px;
    }
  }


    
  @media (max-width: 1280px) {
    .carta {
      display: flex;
    }
    .IMG{
      height: 200px;
      width: 200px;
    }
    .detallesCard{
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: center;
    }
    .titulo{
      font-size: 35px;
    }
    .parrafo{
      font-size: 15px;
      margin: 0;
    }
    .boton{
      height: 30px;
      width: 150px;
      font-size: 15px;
      
    }
    
  }



  
    
  @media (max-width: 768px) {
    .carta {
      display: flex;
      flex-direction: column;
    }
    .IMG{
      height: 290px;
      width: 100%;
    }
    .detallesCard{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .titulo{
      font-size: 25px;
    }
    .parrafo{
      font-size: 15px;
    }
    .boton{
      height: 30px;
      width: 170px;
      font-size: 15px;
    }
    .contenedorBoton{
      justify-content: center;
    }
  }


      
  @media (max-width: 768px) {
    .carta {
      display: flex;
      flex-direction: column;
    }
    .IMG{
      height: 220px;
      width: 100%;
    }
    .detallesCard{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .titulo{
      font-size: 20px;
    }
    .parrafo{
      font-size: 13px;
    }
    .boton{
      height: 30px;
      width: 170px;
      font-size: 15px;
    }
  }